* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --c-white: #FFFFFE;
    --c-black: #0F0E17;
    --c-title: #E53170;
    --c-email: #4DCCF2;
}


/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* #region Utility */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* #endregion Utility */



header,
main {
    width: 80%;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: var(--c-title);
    font-family: 'Quicksand', sans-serif;
}

header {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

header>p {
    font-size: 0.65rem;
    margin-top: 1rem;
}

.col-4 {
    background-color: var(--c-black);
    width: calc(100% / 3 - 1.2rem);
    float: left;
    margin-bottom: 1.85rem;
    margin-left: 0.9rem;

}

img {
    max-width: 100%;
    float: left;
    width: 4rem;
    margin-right: 0.2rem;
}

.name,
.profession {
    color: var(--c-white);
}

.name {
    font-size: 0.7rem;
}

.profession {
    font-size: 0.55rem;
    margin-top: 0.7rem;
}

.email {
    color: var(--c-email);
    font-size: 0.55rem;
}